<!-- Hero Section -->
<section class="hero" id="hero">
  <h2 class="hero_header">&nbsp;</h2>
</section>

<!-- Stats Gallery Section -->
<div class="gallery">
  <div class="thumbnail">
    <h1 class="stats">896</h1>
    <h4>New Contracts</h4>

  </div>
  <div class="thumbnail">
    <h1 class="stats">2300</h1>
    <h4>Homes Sold</h4>

  </div>
  <div class="thumbnail">
    <h1 class="stats">Rated Best</h1>
    <h4>New Home Sales</h4>

  </div>
  <div class="thumbnail">
    <h1 class="stats">$3.5M</h1>
    <h4>Licensed Assets</h4>

  </div>
</div>
<!-- Parallax Section -->
<section class="banner">
  <h2 class="parallax">345 Carl Street Apt 12, Carrol Rd. Fort Myers, FL 33913</h2>
  <p class="parallax_description">Phone:: +1 239 555 1234 | Email: marti@rdolcegroup.com</p>
</section>
<!-- More Info Section -->